footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    font-size: 14px;
    text-align: center;
}

footer a {
    color: #00b87d;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px solid rgb(42, 42, 42);
}

footer a:hover {
    color: #28daa1;
    border-bottom: 1px solid #00b87d;
}

footer hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(120, 120, 120, 0), rgba(120, 120, 120, 0.75), rgba(120, 120, 120, 0));
}

footer .credit {
    font-size: 12px;
}

/* Small devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    footer {
        font-size: 13px;
    }
}

@media only screen and (min-width: 1200px) {
    footer {
        font-size: 15px;
    }
}
