footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    font-size: 14px;
    color: rgb(216, 216, 216);
    text-align: center;
}

a {
    color: rgba(0, 230, 180, 0.836);
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 230, 180, 0);
}

a:hover {
    border-bottom: 1px solid rgba(0, 230, 180, 0.836);
}

hr {
    border: 0;
    height: 2px;
    color: white;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.credit {
    font-size: 12px;
}

/* Small devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .footer {
        font-size: 13px;
    }
}

@media only screen and (min-width: 1200px) {
    .footer {
        font-size: 15px;
    }
}
