#menu-bar {
    background: rgba(240, 240, 240, 0.25);
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 3px 30px -5px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 3px 30px -5px rgba(0,0,0,0.3);
    box-shadow: 0px 3px 30px -5px rgba(0,0,0,0.3);
}

#navbar a {
    font-size: 16px;
    cursor: pointer;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    transition: 0.3s;
    color: rgb(44, 44, 44);
}

#navbar a:hover {
    border-bottom: 2px solid #00b87d;
    transition-timing-function: ease-in;
    
}

#navbar .active {
    border-bottom: 2px solid #28daa1;
    transition-timing-function: ease-in;
}

.icon {
    width: 50px;
}

.icon a {
    border-bottom: 0;
}

.icon a:hover {
    border-bottom: 0;
}

.icon img {
    width: 100%;
}

.navbar-nav {
    padding-left: 20px;
}

/* Hamburger Menu */
.bars-container {
    display: none;
    cursor: pointer;
    margin-right: 10px;
}

.bar1, .bar2, .bar3 {
    width: 20px;
    height: 2px;
    background-color: rgb(156, 156, 156);
    margin: 5px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-4px, -4px);
    transform: rotate(45deg) translate(-4px, -4px);
}
/* End Hamburger Menu */

@media only screen and (max-width: 575px) {
    .bars-container {
        display: inline-block;
    }

    .navbar-nav {
        padding-left: 7px;
    }
}
