<nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color fixed-top scrolling-navbar">

  <div class="navbar-brand unselectable" routerLink="/">
    <!-- <span class="icon"><a routerLink="/"><img src="../../../favicon.png"></a></span> -->
    EDEL PHOTOGRAPHY
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
    <div id="hamburger" class="bars-container" data-toggle="collapse">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbar-content">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <span class="menu-icon">
            <i class="fas fa-home"></i>
          </span>
          <span class="menu-text">
            Home
          </span>          
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" routerLink="portfolio" routerLinkActive="active">
          <span class="menu-icon">
            <i class="fas fa-camera-retro"></i>
          </span>
          <span class="menu-text">
            Portfolio
          </span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" routerLink="montages" routerLinkActive="active">
          <span class="menu-icon">
            <i class="far fa-images"></i>
          </span>
          <span class="menu-text">
            Montages
          </span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" routerLink="restorations" routerLinkActive="active">
          <span class="menu-icon">
            <i class="fab fa-firstdraft"></i>
          </span>
          <span class="menu-text">
            Restorations
          </span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" routerLink="contact" routerLinkActive="active">
          <span class="menu-icon">
            <i class="fas fa-envelope"></i>
          </span>
          <span class="menu-text">
            Contact
          </span>
        </a>
      </li>
    </ul>
  </div>
  
</nav>
