<nav id="menu-bar" class="navbar navbar-static-top navbar-expand-sm">

  <span class="icon"><a routerLink="/"><img src="../../../favicon.png"></a></span>

  <div #hamburger class="bars-container" (click)="toggleHamburgerMenu()" data-toggle="collapse" data-target="#navbar">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>

  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item" (click)="clickHamburgerLink()">
        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item" (click)="clickHamburgerLink()">
        <a routerLinkActive="active" class="nav-link" routerLink="portfolio">Portfolio</a>
      </li>
      <li class="nav-item" (click)="clickHamburgerLink()">
        <a routerLinkActive="active" class="nav-link" routerLink="montages">Montages</a>
      </li>
      <li class="nav-item" (click)="clickHamburgerLink()">
        <a routerLinkActive="active" class="nav-link" routerLink="restorations">Restorations</a>
      </li>
      <li class="nav-item" (click)="clickHamburgerLink()">
        <a routerLinkActive="active" class="nav-link" routerLink="contact">Contact</a>
      </li>
    </ul>
  </div>
  
</nav>
