.navbar {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.3);
    background-color: #2bbbad;
    padding: 0;
    padding-left: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23b0acb6' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E") !important;
}

.navbar a {
    cursor: pointer;
    border-bottom: 2px solid rgba(209, 172, 172, 0);
    transition: 0.3s;
    padding: 16px 12px;
}

.navbar a:hover {
    border-bottom: 2px solid white;
    transition-timing-function: ease-in;
    background: rgba(255, 255, 255, 0.2);
}

.navbar .active {
    border-bottom: 2px solid white;
    transition-timing-function: ease-in;
    background: rgba(255, 255, 255, 0.2);
}

.navbar-nav li {
    padding-left: 2px;
    padding-right: 2px;
}

.navbar-brand {
    font-family: 'Mali', cursive;
}

.navbar-brand img {
    width: 50px;
}

/* animation and padding for scrolling navbar */
.navbar.scrolling-navbar {
    transition: background .5s ease-in-out,padding .5s ease-in-out;
    padding-top: 8px;
    padding-bottom: 8px;
}

.navbar.scrolling-navbar.top-nav-collapse {
    transition: background .5s ease-in-out,padding .5s ease-in-out;
    padding-top: 0px;
    padding-bottom: 0px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    outline: none;
    cursor: pointer;
}

/* Dropdown */
.nav-dropdown .nav-link {
    padding: 0px;
    padding-right: 10px;
    padding-left: 10px;
}

.nav-dropdown a:hover {
    border-bottom: 2px solid rgba(209, 172, 172, 0);
    background: rgba(255, 255, 255, 0);
}

.nav-dropdown img {
    max-height: 45px;
    border-radius: 50%;
    -webkit-box-shadow: 10px 10px 15px -10px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 10px 15px -10px rgba(0,0,0,0.5);
    box-shadow: 10px 10px 15px -10px rgba(0,0,0,0.5);
}

.nav-dropdown img:hover {
    -webkit-box-shadow: 10px 10px 15px -10px rgba(0,0,0,0.8);
    -moz-box-shadow: 10px 10px 15px -10px rgba(0,0,0,0.8);
    box-shadow: 10px 10px 15px -10px rgba(0,0,0,0.8);
}

.dropdown-menu {
    background-color: #f9f9f9;
}

.dropdown-menu a {
    color: #333;
}

.dropdown-menu a:hover {
    color: white;
    background: #72cac1;
}

.dropdown-menu a span:nth-child(1) {
    color: #72cac1;
}

.dropdown-menu a:hover span:nth-child(1) {
    color: white;
}

.user-menu-small {
    display: none;
}

.menu-icon {
    padding-right: 5px;
}

/* End Dropdown */

/* Hamburger Menu */
.menu-container {
    /* max-width: 43px; */
    cursor: pointer;
    display: none;
}

#hamburger {
    padding-right: 15px;
}

.bar1, .bar2, .bar3 {
    width: 20px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin: 5px 0;
    transition: 0.4s;
}

.change-bars .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.change-bars .bar2 {opacity: 0;}

.change-bars .bar3 {
    -webkit-transform: rotate(45deg) translate(-4px, -4px);
    transform: rotate(45deg) translate(-4px, -4px);
}
/* End Hamburger Menu */

@media (max-width: 991px) {
    .menu-container {
        display: block;
    }

    .navbar-brand {
        padding: 16px 12px;
    }

    .navbar a {
        padding: 8px 6px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .navbar-nav li {
        padding-left: 0px;
        padding-right: 0px;
    }

    #navbar-content {
        background-color: #209b8e;
        background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23b0acb6' fill-opacity='0.2' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E") !important;
        -webkit-box-shadow: inset 0px 55px 20px -50px rgba(0,0,0,0.3);
        -moz-box-shadow: inset 0px 55px 20px -50px rgba(0,0,0,0.3);
        box-shadow: inset 0px 55px 20px -50px rgba(0,0,0,0.3);
    }

    .menu-icon {
        /* padding-right: 7px; */
    }

    /* animation and padding for scrolling navbar */
    .navbar.scrolling-navbar {
        padding: 0;
    }

    .navbar.scrolling-navbar.top-nav-collapse {
        padding: 0;
    }

    .user-menu-big {
        display: none;
    }

    .user-menu-small {
        display: block;
    }

    .text-align-right {
        text-align: right;
    }
}
