<div id="home" class="container-fluid">
    <h3 class="heading">Edel Photography</h3>
    
    <div *ngIf="photoset">
        {{ photoset.description }}
        <div *ngIf="photoset.photos[0].sizes.length === 12">
            {{ photoset.photos[0].sizes[0].label }}
        </div>
    </div>

    <section routerLink="portfolio" onContextMenu="return false;">
        <img src="../../../assets/portfolio/lory/2.jpg">
        <div class="title">Portfolio</div>
        <div class="overlay">
            <div class="text">Memories For Every Moment</div>
        </div>
    </section>
    
    <section routerLink="montages" onContextMenu="return false;">
        <img src="../../../assets/montages/2.jpg">
        <div class="title">Montages</div>
        <div class="overlay">
            <div class="text">Creative Montages</div>
        </div>
    </section>
    
    <section routerLink="restorations" onContextMenu="return false;">
        <img src="../../../assets/restorations/cover.jpg">
        <div class="title">Restorations</div>
        <div class="overlay">
            <div class="text">Restoring Memories</div>
        </div>
    </section>
</div>
