/* You can add global styles to this file, and also import other style files */
body {
    color: rgb(44, 44, 44);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
	background-color: #f0f0f0;
	background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23dcdcdc' fill-opacity='0.3' fill-rule='evenodd'/%3E%3C/svg%3E");
	
	/* background: url("/assets/backgrounds/clouds.jpg") no-repeat center center fixed; */	
	/* -webkit-background-size: cover; */
    /* -moz-background-size: cover; */
    /* -o-background-size: cover; */
    /* background-size: cover; */
}

.heading {
	margin-bottom: 15px;
	text-align: center;
}

::-webkit-input-placeholder
{
	color:rgba(255,255,255,0.5);
}

/* highlight selection */
::selection 
{
	/*background-color:rgba(159, 223, 159, 0.6);*/ /*light green*/
	background-color: #28daa1;
	color: white;
}

/* Add Zoom Animation */
.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)} 
	to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
	from {transform: scale(0)} 
	to {transform: scale(1)}
}